.app .RallyGear
{
    text-align:center;
    color: RGBA(0,0,0,0.5);
}

.app .RallyGear .bigGearDiv
{
    font-size:35px;
    height:38px;
}

.app .RallyGear .ltlGearDiv
{
    font-size:14px;
    height:15px;
}

.app .RallyGear .labelDiv
{
    font-size:10px;
    color: black;
    height:13px;
}
